<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>

<body>
    Please click the button below to reset your Password. If you didn't request to reset your password just ignore this action: -- Questions? Comments? Email arrotechdesign@gmail.com.

    <br><br><button style="background: rgb(100,0,0); color: #fff; border:none; border-radius: 2px; padding: 5px; display:block; margin-left:auto; margin-right:auto;"><a style="text-decoration:none; color: #fff;" href="{{ recover_url }}">Reset</a></button><br><br>    Or click the following link on a new tab
    <a href="{{ recover_url }}" class="">{{ recover_url }}</a>
</body>

</html>